<div class="about">
  <h3>You can use this site to:</h3>
  <ul>
    <li>Advertise your virtual events</li>
    <li>Sell to participants</li>
    <li>Collect fees from participants</li>
    <li>Show results, current and historical</li>
  </ul>
</div>


<!--
 <p class="about">
  <u>You can use this site to</u>: <br />
  * Advertise your virtual events <br />
  * Sell to participants <br />
  * Collect fees from participants <br />
  * Show results, current and historical
</p>
-->
