<br />
<p class="about">
  <u>You can use this site to</u>: <br />
  * Advertise your virtual events <br />
  * Sell to participants <br />
  * Collect fees from participants <br />
  * Show results, current and historical
</p>