<div class="about">
  <h3>You can use this site to:</h3>
  <ul>
    <li>Advertise your virtual events</li>
    <li>Sell to participants</li>
    <li>Collect fees from participants</li>
    <li>Show results, current and historical</li>
  </ul>
</div>

<%= @events.each do |event| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= event.name %></h1>
    <p> <%= event.description %></p><br /><br />
    <p><%= event.benefit %></p><br />
  </div>

<% end %>

