@import "bootstrap";

h1 {
  font-family: 'Open Sans', sans-serif;
  color: red;
  margin: 10px;
  padding: 10px;

}
.about {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #1d58b7;
  font-weight: bold;
}

body {
  background: image_url('paper_fibers.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h2, h3, h4, h5, h6 {
  margin: 10px;
  padding: 10px;
}