h1 {
  font-family: 'Open Sans', sans-serif;
  color: red;

}
.about {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  color: #1d58b7;
  font-size: 20px;
  font-weight: bold;
}